<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Pokedex</a>
    <div class="navbar-nav">
      <a
        class="nav-link active"
        [routerLink]="[routes.kanto.to]"
        routerLinkActive="active"
        >{{ routes.kanto.title }}</a
      >
      <a
        class="nav-link active"
        [routerLink]="[routes.johto.to]"
        routerLinkActive="active"
        >{{ routes.johto.title }}</a
      >
      <a
        class="nav-link active"
        [routerLink]="[routes.hoenn.to]"
        routerLinkActive="active"
        >{{ routes.hoenn.title }}</a
      >
      <a
        class="nav-link active"
        [routerLink]="[routes.sinnoh.to]"
        routerLinkActive="active"
        >{{ routes.sinnoh.title }}</a
      >
    </div>
  </div>
</nav>
